html {
height: 100%;
}

body {
  /*background-image: url("../media/images/rhood.jpg");*/
  background-image: linear-gradient(60deg,#fff, #19c0d1, rgb(21, 123, 133));
  background-size: cover;
  /*background-repeat: no-repeat;*/
  margin: 0;
  font-family:monospace;
  text-align:center;
  height: 100vh;
  width: 100vw;
}

audio {
  display: none;
}

#footer{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(238, 238, 238, 0.6);
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
  border:none;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  
}

li a:hover:not(.active) {
  background-color: #111;
}
.navbtn{
box-shadow: 5px 5px 5px black;
}
.active {
  background-color: #19c0d1;
}
a:hover{
	
	background-color: #19c0d1;
}

 #mainContainer {
                transform-origin:0% 0%;
                position:absolute;
                width:100%;
                top:160px;
                left:0;
				right: 0;
            }
            
            #score {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                text-align:center;
                font-size:60px;
                font-weight:900;
                color:#45f;
            }
            
            #showPoint {
                position:absolute;
                top:0;
                left:0;
                background:transparent;
                margin:0;
            }
            
            #showPoint .u{
                position:absolute;
                display:inline-block;
                top:50%;
                left:70%;
                font-size:30px;
                font-family:arial;
                opacity:0;
                transition:top 0.1s linear,left 0.1s linear
            }
            
            #animCanvas {
                position:absolute;
                top:0;
                left:0;
                z-index:100;
                border-bottom:none;
            }
            
            #arrs {
                font-size:30px;
                text-align:left;
                position:absolute;
                margin:0;
                top:0;
                padding-left:10px;
            }
            
            #startMenu {
                position:absolute;
                top:0;
                left:0;
                background:transparent;
                z-index:1000;
                width:100%;
                height:100%;
            }
            
            #startMenu h1 {
                font-size:50px;
                text-shadow:2px 3px #aaa;
                font-weight:900;
            }
            
            #startMenu button {
                font-size:22px;
                background:none;
                border:none;
                border-top:3px solid #000;
                border-bottom:3px solid #000;
                padding:10px 30px 5px;
                line-height:20px;
                outline:none;
            }
            
            #startMenu h2 {
                font-size:25px;
            }

