html {
height: 100%;
}

body {
  /*background-image: url("../media/images/rhood.jpg");*/
  background-image: linear-gradient(60deg,#fff, #19c0d1, rgb(21, 123, 133));
  background-size: cover;
  background-repeat: no-repeat;
 /* height: 100vh;
  position: relative;*/
  margin: 0;
}

audio {
  display: none;
}

p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(238, 238, 238, 0.6);
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
  border:none;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  
}

li a:hover:not(.active) {
  background-color: #111;
}
.navbtn{
box-shadow: 5px 5px 5px black;
}
.active {
  background-color: #19c0d1;
}
a:hover{
	
	background-color: #19c0d1;
}


button {
  font-size: 16px;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: rgb(21, 123, 133);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
